.container {
  border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px;
}
.player {
  box-sizing: border-box;

  position: absolute;
  top: 20px;
  right: 20px;
  width: 200px;
}
.photobooth {
  background: white;
  max-width: 150rem;
  margin: 2rem auto;
  border-radius: 2px;
}
.video {
  border-radius: 20%;
  width: 50%;
  float: left;
  border: 5px solid #555;
  height: auto;
}
.top-container {
  position: relative;
  /* width: 50%; */
  height: auto;
  justify-content: center;
  margin: 30px auto;
  margin-top: 0%;
}

.player {
  width: 100%;
  float: left;
}

.photo {
  /* border: 1px solid black;
  box-shadow: 2px 2px 3px black;
  width: 320px;
  height: 240px; */
  display: none;
}

.canvas {
  display: none;
}

.camera {
  width: 340px;
  display: inline-block;
}

.output {
  width: 340px;
  display: inline-block;
  vertical-align: top;
}
.btn {
  box-sizing: content-box;
  display: block;
  position: absolute;
  color: white;
  font-size: 10px;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.selectbutton {
  top: 10%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(24, 158, 158);
  padding: 5px 5px;
}
.startbutton {
  /* display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  cursor: pointer; */
  /* box-sizing: content-box;
  position: absolute; */
  top: 50%;
  left: 90%;

  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(20, 205, 45);
  /* color: white;
  font-size: 10px;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px; */
}
.clearbutton {
  /* display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer; */
  /* box-sizing: content-box;
  display: block;
  position: absolute; */
  top: 90%;
  left: 90%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: rgb(81, 23, 23);
  /* color: white;
  font-size: 10px;
  padding: 15px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px; */
}
/* .startbutton {
  width: 100%;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  
  font-size: 20px;
} */

.contentarea {
  font-size: 16px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  width: 760px;
}

